{% extends "dashboard/base.html" %}
{% block content %}
<div class="container">
    <form method="POST" accept-charset="UTF-8">
        {% csrf_token %}
        <h3>Money</h3>
        {{form.money}}
        <h3>Receiver's card number</h3>
        {{form.receiver_card}}
        <br>
        {{form.category}}
        <br>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Send">
    </form>
    <br>
    <button type="button" class="btn btn-lg btn-danger btn-block" onclick="location.href = '/dashboard';">Back</button>
</div>
{% endblock content %}